<!DOCTYPE html>
<html>
<head>
    <title>Fragen | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300' rel='stylesheet' type='text/css' />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/terms-style.css" />
    <script type="text/javascript">
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
    </script>
</head>
<body>
    <header id='nav-pane'>
        <nav class="navbar navbar-default navbar-fixed-top" id='navpane' role="navigation">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class='icon'></a>
                </div>
                <nav class="collapse navbar-collapse navbar-ex1-collapse pull-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class='active'><a href="/about">About</a></li>
                        <li><a href="/terms">Terms</a></
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div class="row">
        <section id="terms" class='col-md-6 col-md-offset-3'>
            <header>
                <h2>About Fragen</h2>
            </header>
            <div>
                <article>
                    <h3>Problem</h3>
                    <p>
                        Learning, as we know, is a two-way process. One has to listen to what the educator has to say and ask questions to clarify his doubt. Currently, students do not clarify their doubts because of fear, shyness or embarrassment. Even when a lecturer tries to hold an interactive lesson, students do not take part actively.
                    </p>
                </article>
                <article>
                    <h3>Current Solution</h3>
                    <p>Currently, IVLE forum attempts to solve these problems. However, it falls short due to few reasons.</p>
                    <ol>
                        <li> One of the reasons, students are afraid to ask questions is because they do not want to be judged by other students. An online platform makes it easy for students to ask questions but do not solve this particular problem as they don't always have the choice of being anonymous.</li>
                        <li>Questions asked by students do not get answered immediately.</li>
                        <li> IVLE forum does not provide a UX that appeals to the students and lecturers.</li>
                    </ol>
                    <p>For the above mentioned problems, students do not take part in IVLE forum discussions unless it is strictly imposed by the course administrator</p>

                </article>
                <article>
                    <h3>Fragen – Our Solution</h3>
                    <p>Fragen is a real-time Q&A platform for students and lecturer to communicate effectively. With Fragen, students always has the choice of asking and answering questions anonymously.</p>
                </article>
            </div>
        </section>
    </div>
</body>
</html>