<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>Express Message Board</title>
        <!-- <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/1.1.2/normalize.css"> -->
        <link rel="stylesheet" type="text/css" href="public/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/main.js"></script>

    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=492242497533605";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <div class ="container">
                <h1><a href="/">ProjectName</a></h1>
                <ul>
                    <li>

                    <% if (!user) { %>
                        <a href="/auth/facebook">Login</a>
                    <% } else { %>
                        <p>Hello, <%= user.username %>.</p> <a href="/logout">Log Out</a>
                    <% } %>

                    </li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">My Classes</a></li>
                </ul>
            </div>
        </header>

        <div id="hero">
            <div class ="container">
                <span>
                    <h2>CS1231: Discrete Structures</h2>
                    <h3>Assoc. Prof. Stephane Bressane</h3>
                </span>
            </div>
        </div>

        <div class='msgwrap'>
            <div class ="container">
                <h2 class='question'>Q: Proof of the Pigeonhole Principle?</h2>

                <div class="newPostDiv">
                    <input class="newPostTitle" type="text" autofocus placeholder="Your Question title" /><br>
                    <textarea class="newPostText" rows="5" cols="40" placeholder="Your Question Here"></textarea><br>
                    <button class="newPostBtn">Send</button>
                    <hr>
                </div>

                <div class="messageBoard">  </div>
            </div>
        </div>

        <div class="like-button">
            <fb:like href="http://la.cmq.me" width="90px" layout="button_count" show_faces="true" send="false"></fb:like>
        </div>
    </body>
</html>