<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>Express Message Board</title>
        <!-- <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/1.1.2/normalize.css"> -->
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script type="text/javascript" src="/public/js/jquery.tinysort.js"></script>
        <script type="text/javascript" src="/public/js/main.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=492242497533605";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <header>
            <div class ="container">
                <h1><a href="/">ProjectName</a></h1>
                <ul>
                    <% if (user) { %>
                    <li class='username'><a>Hi, <%= user.displayName %>!</a></li>
                    <% } %>

                    <li>
                    <% if (!user) { %>
                        <a href="/auth/facebook">Login</a>
                    <% } else { %>
                        <a href="/logout">Log Out</a>
                    <% } %>

                    <li><a href="">Dashboard</a></li>
                    <li><a href="/invite">Invite</a></li>


                </ul>
            </div>
        </header>

        <div id="hero">
            <div class ="container">
                <span>
                    <h2><%= module.title %> : <%= module.description %></h2>
                    <h3>Assoc. Prof. Stephane Bressane</h3>
                </span>
            </div>
        </nav>
    </header>
    <div id="content">
        <div id="mod-desc">
            <h1 id='mod-name'>CS3216</h1> <!--content determined dynamically-->
            <h3 id='mod-title'>SOFTWARE ON EVOLVING PLATFORMS</h3>
        </div>
        <div class='row' id='wrapper'>
            <div class="col-md-10 col-md-offset-1">
                <button class="sortByTime btn btn-small" >Sort By Time</button>
                <button class="sortByVotes btn btn-small" >Sort By Votes</button>

                <div id="qna-wrapper">
                    <div id="qn-view" class="messageBoard"></div>
                    <div class="newPostDiv">
                        <textarea id="title-view" class="newPostTitle" type="text" autofocus placeholder="Your Question title" ></textarea>
                        <div id='ans-view-wrapper'>
                            <textarea id='ans-view' class="newPostText" rows="5" cols="40" placeholder="Your Question Here"></textarea>
                            <button id="qnSubmit" class="btn btn-default newPostBtn">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="like-button">
        <fb:like href="http://la.cmq.me" width="90px" layout="button_count" show_faces="true" send="false"></fb:like>
    </div>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2600045-5', 'cmq.me');
    ga('send', 'pageview');
    </script>
    <!-- End of Google Analytics -->
    <!--scripts below -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <!-- <script type="text/javascript" src="/public/js/mCustomScrollbar.js"></script> -->
    <script type="text/javascript" src='/public/js/fragenEdited.js'></script>
    <script type="text/javascript" src="/public/js/jquery.tinysort.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>