/*
 * body
 ******************************/
 html,body{
    height:100%;
    background-image: url(../img/old_mathematics.png);
 }

 body{
    padding-top:50px;
    font-family: 'Open Sans',sans-serif;
    overflow-x: hidden;
 }

h1,h2,h3,h4,h5,h6 {
    font-weight:300;
    font-family: 'Open Sans',sans-serif;
}

h1 {
    font-weight:300;
    font-size:50px;
    text-align:center;
    line-height:55px;
    text-shadow:0 1px 1px rgba(0,0,0,0.8);
    margin-bottom:30px;
}

/*
 * Header
 ******************************/
 #navpane{
    background-color: rgb(83,54,98);
    -webkit-box-shadow: 0px 2px 2px #888;
    -moz-box-shadow:    0px 2px 2px #888;
    box-shadow:         0px 2px 2px #888;
    border-bottom-width: 0px;
 }

 .nav-container{
    max-width: 1000px;
 }

  .navbar-default .navbar-nav>li>a{
    color:white;
    opacity:0.7;
 }
 .navbar-default .navbar-nav>li>a:hover,
 .navbar-default .navbar-nav>li>a:focus,
 .navbar-default .navbar-nav>li.active>a:hover,
 .navbar-default .navbar-nav>li.active>a:focus,
 .navbar-default .navbar-nav>li.active>a{
    background-color:transparent;
    color:white;
    opacity:1.0;
 }

 .navbar-brand{
    padding:2.5px;
 }

 .icon{
    background-image: url(/public/img/fragen-icon.png);
    display:block;
    background-repeat: no-repeat;
    height:30px;
    width:104px;
    margin-top: 10px;
 }

  #username{
    text-align: center;
    margin-top:10px;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
 }

 #username-pic{
    height:30px;
    overflow: hidden;
    float: left;
    border: 1px solid rgb(54, 34, 65);
    margin-top: -4%;
    margin-right: 8px;
}

#username-pic img{
    width:30px;
}

/*
 * Content
 ******************************/

#content h1{
    margin-bottom: 15px;
}

/*
 * Friends Wrapper
 ******************************/

#friends-wrapper{
    background-color: white;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    padding: 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 30px;
}

ul#friends{
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,0.03);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 20px;
}

ul#friends li {
    list-style-type: none;
    padding:10px;
}

ul#friends li h4 {
    font-size: 16px;
    display:inline;
}

.friend-thumbnail{
    padding: 10px;
}

.friend-thumbnail a:first-child{
    float:left;
    margin-right: 20px;
    margin-right: 20px;
}

.friend-thumbnail img{
    border-radius: 10px;
}

.friend-thumbnail span{
    display:block;
    margin-bottom: 10px;
}

.friend-thumbnail a:last-child{
    color: white;
    background-color: #3b5998;
    border:1px solid #133783;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.friend-thumbnail a:last-child:hover{
    color: #3b5998;
    background-color: white;
    border-color:1px solid #133783;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.friend-thumbnail a.invited {
    background: #F1A30B;
    border: #FBB631;

}

.friend-thumbnail a.invited:hover, .friend-thumbnail a.invited:focus {
    cursor: default;
    background: #F1A30B;
    color: white;
    border: #FBB631;
}